  *{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.menu{
    background-color: white;
    position: fixed;
    height:50px;
    width: 100%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0px;
    position: relative;
}


nav ul li {
    position: absolute;
}

nav ul li:nth-child(1) {
    left: 40px;
}

nav ul li:nth-child(2) {
    left: 70%;
}

nav ul li:nth-child(3) {
    left: 80%;
}

nav ul li:nth-child(4) {
    left: 90%;
}

nav ul li a {
    text-decoration: none;
    color:none;
    font-size: 18px;
}


a{
    text-decoration: none ;
    color: black;
    text-align: center;
}
.Container{
    max-width: 1490px;
    padding-left: 20px;
}
#Mylogo{
    background-image: url("Architectimage.jpg");
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    margin-bottom: 60px;
    
}
.BR span{
    background-color: rgb(106, 96, 96);
}
.BR{
    color: white;
    position: absolute;
    top: 50%;
    left: 47%;
    font-size: 40px;

}
h2{
    font-weight: 80;
    margin-bottom: 20px;
}

h4{
    padding: 5px;
    color: white;
    background-color: black;
    position: absolute;
}

.Project1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
     flex-direction: row;
     gap:15px;
     padding-bottom: 10px;
     padding-top: 20px;
}
.Project2{
    width: 100%;
    display: flex;
    justify-content: space-between;
     flex-direction: row;
     gap:10px;
     margin-bottom: 60px;
}
.Project1 div{
    width: 24.5%;
    height:15em;
}
.Project2 div{
    width: 24%;
    height:15em;
}

.Summer-house{
    background-image:url("Summer\ house.jpg");
}
.Brick-house{
    background-image:url("Brick\ house.jpg") ;
}
.Renovated{
    background-image: url("Renov.jpg");
}
.Barn-house{
    background-image: url("Barn\ house.jpg");
}
.Summer{
    background-image: url("Brick\ house.jpg");
}
.Brick{
    background-image:url("Summer\ house.jpg");
}
.Renov{
    background-image: url("Barn\ house.jpg");
}
.Barn{
    background-image: url("renov");
}
#About{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
    width: 100%;
    margin-bottom: 60px;
}
#About div{
    width:24.5%;
 
}
.Theircontacts{
    background-color: rgb(223, 217, 217);
    width: 100%;
    color: white;
    padding: 5px;
    font-size: 20px;
    box-shadow: 0;
}
.CEO{
    background-image: url("John\ Doe.jpg");
    background-repeat: no-repeat;

}
.Jane{
    background-image: url("Jane\ Doe.jpg");
    background-repeat: no-repeat;
}
.Mike{
    background-image: url("Mike\ Ross.jpg");
    background-repeat: no-repeat;
}
.Dan{
    background-image: url("Dan\ star.jpg");
    background-repeat: no-repeat;
}
.description{
    padding-top: 23em;
    position: relative;
}
.responsibility{
    color: rgb(84, 75, 75);
}
 .location{
    background-image: url("Location.jpg");
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom:5px ;
}
.Name, .Email, .Subject, .Message{
    margin-bottom: 15px;
}

.input-field{
    width: 100%;
    height: 40px;
    margin-left: 0;

}
button{
    background-color: black;
    font-size: 15px;
    color:white;
    padding: 10px;  
}
.footer p{
    text-align: center;
    background-color: black;
    color:white ;
    height: 70px;
    padding: 20px;
    
}
.footer a{
    color:white;

}



